@charset "utf-8";
html {
    color: #000;
    background: #fff;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html, body {
    font-family: sans-serif
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0
}

input, select, textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500
}

q:before, q:after {
    content: ''
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

a:hover {
    text-decoration: underline
}

ins, a {
    text-decoration: none
}

.app {
    height: 100vh;

}

.logo {
    width: 2.2rem;
    padding: .08rem 0 0.59rem .75rem;
    font-size: 0;
}

.logo img {
    width: 100%;
}

.title {
    font-size: 16px;
    padding: 0 0 0 .75rem;
}

.des {
    max-width: 5.56rem;
    padding: 0 0 0 .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #999999;
    font-size: 11px;
    margin: .1rem 0;
}

.bg {
    /*background-size: 100% auto;*/
    /*background-image: url("../imgs/index_bg.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: top center;*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.bg_img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}

.bg_img img {
    width: 100%;
}

.bg_down {
    background-color: #EBA73A;
    height: 3.63rem;
}

.banner {
    padding: 0.4rem 0 1rem 0;
}

.banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85.2% !important;
    transform: scale(0.9);
    transition: all .3s;
    overflow: hidden;
    margin: 0 auto;
    border-radius: .36rem;
}

.banner .swiper-slide img {
    width: 100%;
}

.banner .swiper-slide-active {
    transform: scale(1);
}

.banner .swiper-pagination-bullet {
    width: 10px;
    height: 3px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, .3);
    transition: .3s linear;
}

.banner .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 15px;
}

.carinfo {
    transition: ease-in-out .3s;
}

.detail {
    min-height: 100vh;
    background-color: #F4F4F4;
}

.detail .img {
    margin: 0 18px;
}

.detail .img img {
    width: 100%;
}

.title1 {

}

.form1 {
    height: 3.39rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: .5rem .18rem;
    background-image: url("../imgs/title1.png");
    /*background:rgba(255,255,255,1);*/
    /*box-shadow:0px 3px 10px 0px rgba(0, 0, 0, 0.08);*/
    /*border-radius:10px;*/
}

.inputbox {
    width: 5.57rem;
    margin: 0 auto;
    font-size: 14px;
    background-color: #6A6B72;
}